.container {
  position: absolute; top:200; left:0;
  width:100%;
  overflow: hidden;
}

.sliding-background {
  background: url("http://localhost:8080/JSPfiles/BankApp/banklogo.png") repeat-x;
  height: 750px;
  width: 4000px;
  animation: slide 15s linear infinite;
}

@keyframes slide{
  0%{
    transform: translate3d(0, 0, 0);
  }
  100%{
    transform: translate3d(-2000px, 0, 0);
  }
}